<ul>
  <li style="list-style-type:none">
    <%= link_to employee.name, employee_path(employee) %>
  </li>
  <li style="list-style-type:none"><%= employee.title %></li>
  <li style="list-style-type:none"><%= employee.alias %></li>
  <li style="list-style-type:none"><%= employee.dog_name %></li>
</ul>

