<h1><%= @dog.name %></h1>

<h3>Breed: <%= @dog.breed %></h3>
<h3>Age: <%= @dog.age %></h3>
<h3>Owners:</h3>
<%# <ul>
    <li>
        <% if @employee.dog == @dog.name %>
            <%# <%= @employees.name%>
        <%# <% end %>
    <%# </li> %>
<%# </ul> %>