<h1><%=@dog.name%></h1>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age.capitalize %></p>
<p>Employees:
<ul>
    <% @dog.employees.each do |employee| %>
        <li><%= link_to(employee.name, employee_path(employee)) %></li>
    <%end%>
</ul>
</p>